@import 'Functions';
@import 'Variables';
@import 'Mixins';

.App {
  text-align: center;
  background: url('../images/image-bg.png') no-repeat center / cover fixed;
}

.App-header {
  background-color: $color-bg;
  min-height: 100vh;
  @include flexCenter;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: $color-text;
}
