@import 'Functions';
@import 'Variables';
@import 'Mixins';

.App {
  text-align: center;
  background: url('../images/image-bg.png') no-repeat center / cover fixed;
}

.App-header {
  background-color: $color-bg;
  min-height: 100vh;
  @include flexCenter;
  flex-direction: column;
  font-size: calc(rem(10) + 2vmin);
  color: $color-text;
}

.title {
  font-size: rem(26);
  color: $color-bg;
  background-color: $color-text;
  text-align: center;
  margin: rem(30) auto;
  border-radius: rem(15);
  border: rem(5) solid $color-brand;
}

.favs {
  &__title {
    font-size: rem(26);
    color: $color-bg;
    background-color: $color-text;
    text-align: center;
    margin: rem(30) auto;
    border-radius: rem(15);
    border: rem(5) solid $highlight-brand;
  }

  > ul > li {
    border-color: $highlight-brand;

    > article > h2,
    p {
      border-color: $highlight-brand;

      > span {
        border-color: $highlight-brand;
      }
    }
  }
}

.none {
  display: none;
}
