@import 'Functions';
@import 'Variables';
@import 'Mixins';

.pokeCard {
  @include flexCenter;
  flex-wrap: wrap;
  &__item {
    width: rem(200);
    height: rem(280);
    @include flexCenter;
    background-color: $color-bg;
    border: rem(5) solid $color-brand;
    border-radius: rem(15);
    margin: rem(10);
    transition: transform $trans-bt;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.red {
  border: rem(5) solid $highlight-brand;
}
